<main>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to <span class="brand-name">WINPLAY</span></h1>
            <h2>The Color Prediction Betting Platform</h2>
            <p>Your gateway to exciting and secure color prediction games with high chances of winning, instant withdrawals,
                and 24/7 customer support.</p>
            <a href="#signup"
                class="cta-button"
                routerLink="/play">Play Now</a>
        </div>
    </section>

    <section id="features"
        class="features">
        <h2>Why Choose Us?</h2>
        <div class="row">
            <div class="feature-card col m-2">
                <div class="image-container">
                    <img src="../../../assets/images/premium_photo-1677265809049-79dea23980bc.jfif"
                        alt="High Chance of Winning">
                </div>
                <h3>High Chance of Winning</h3>
                <p>Experience a 50% probability of winning with our color prediction games.</p>
            </div>
            <div class="feature-card col m-2">
                <div class="image-container">
                    <img src="../../../assets/images/photo-1634038971336-9c105b3116e7.jfif"
                        alt="Instant Withdrawals">
                </div>
                <h3>Instant Withdrawals</h3>
                <p>Enjoy instant withdrawals to your bank account or UPI number.</p>
            </div>
            <div class="feature-card col m-2">
                <div class="image-container">
                    <img src="../../../assets/images/photo-1512941937669-90a1b58e7e9c.jfif"
                        alt="24/7 Customer Support">
                </div>
                <h3>24/7 Customer Support</h3>
                <p>Our dedicated customer support team is available round the clock to assist you.</p>
            </div>
        </div>
    </section>
    <section id="signup"
        class="join-now">
        <div class="image-container">
            <img src="../../../assets/images/photo-1511213966740-24d719a0a814.jfif"
                alt="Join Now and Start Winning">
        </div>
        <h2>Join Now and Start Winning!</h2>
        <p>Experience the thrill of color prediction betting and unlock unlimited earning potential.</p>
        <a href="#signup"
            class="cta-button">Get Started</a>
    </section>
</main>
<footer>
    <p> &copy; WINPLAY</p>
</footer>